DoAnThucTap.json
{
  "name": "DoAn_ThucTap",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        440
      ],
      "id": "08f651c7-90f1-42e4-88a4-3acd0ed27ece",
      "name": "Tập lịch chạy"
    },
    {
      "parameters": {
        "jsCode": "// API KEYS\nconst apiKey = \"AIzaSyAQQ_GV3xzsZH5Bhki2n-M1_2XvrkWOvKI\";\nconst cxID = \"37a5edc77da3c4fc9\";\n\n// Các nhóm từ khóa\nconst tuKhoaChinh = '\"Đại học Cửu Long\" OR \"MKU\" OR \"DHCL\"';\nconst tuKhoaTieuCuc = '\"lừa đảo\" OR \"gian lận\" OR \"chiếm đoạt\" OR \"thiếu minh bạch\" OR \"phốt\" OR \"mất uy tín\" OR \"chất lượng kém\"';\nconst tuKhoaLinhVuc = '\"tuyển sinh\" OR \"giảng viên\" OR \"giáo dục\" OR \"đào tạo\" OR \"sinh viên\" OR \"bằng cấp\"';\n\n// Ghép query tìm kiếm\nconst query = `${tuKhoaChinh} (${tuKhoaTieuCuc}) (${tuKhoaLinhVuc})`;\n\n// URL API (lấy trong 1 tuần gần nhất, tiếng Việt, location VN)\nconst url = `https://www.googleapis.com/customsearch/v1?key=${apiKey}&cx=${cxID}&num=10&q=${encodeURIComponent(query)}&dateRestrict=w1&lr=lang_vi&gl=vn`;\n\n// Trả về cho n8n (hoặc in ra console nếu test Node.js)\nreturn [{ json: { url } }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        440
      ],
      "id": "ff164771-619a-4479-85c2-33259b2b48d5",
      "name": "Tạo danh sách URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        440
      ],
      "id": "9d1e1521-2a53-4e45-8221-c58d7fefb94e",
      "name": "Gửi request tìm bài viết"
    },
    {
      "parameters": {
        "jsCode": "const ketQuaTong = [];\n\nfor (const input of items) {\n  const danhSach = input.json.items || [];\n  for (const kq of danhSach) {\n    ketQuaTong.push({\n      json: {\n        tieuDe: kq.title || '',   \n        link: kq.link || '',      \n        noiDung: kq.snippet || ''\n      }\n    });\n  }\n}\nreturn ketQuaTong;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        440
      ],
      "id": "267427aa-784b-4f45-9b01-8a115863bebd",
      "name": "Tách danh sách bài viết"
    },
    {
      "parameters": {
        "jsCode": "const Truong = [\"đại học cửu long\" , \"mku\" , \"dhcl\"];\nconst tuKhoaTieuCuc = [\"lừa đảo\" , \"gian lận\" , \"chiếm đoạt\" , \"thiếu minh bạch\" , \"phốt\" , \"từ ngữ đã kích\" , \"mất uy tín\" , \"chất lượng kém\"];\n\n// Lấy thời gian ở VN\nconst thoiGian = new Date().toLocaleString(\"vi-VN\", {\n  timeZone: \"Asia/Ho_Chi_Minh\",\n  hour12: false\n});\n\n// Hàm kiểm tra có chứa từ khóa\nconst coChua = (text, dsTuKhoa) => {\n  return dsTuKhoa.some(tu => text.includes(tu));\n};\n\nconst ketQua = items\n  .map(item => {\n    const tieuDe = (item.json.tieuDe || \"\").toLowerCase();\n    const noiDung = (item.json.noiDung || \"\").toLowerCase();\n    const vanBan = tieuDe + \" \" + noiDung;\n\n    if (coChua(vanBan, Truong) && coChua(vanBan, tuKhoaTieuCuc)) {\n      const tuKhoaTimThay = tuKhoaTieuCuc.filter(tu => vanBan.includes(tu));\n      return {\n        json: {\n          TieuDe: item.json.tieuDe,\n          Link: item.json.link,\n          NoiDung: item.json.noiDung,\n          TuKhoa: tuKhoaTimThay.join(\", \"),\n          NgayPhatHien: thoiGian\n        }\n      };\n    }\n    return null;\n  })\n  .filter(Boolean);\n\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        660
      ],
      "id": "439bc592-4fa4-4220-9c0d-a11c9da6956c",
      "name": "Lọc bài viết tiêu cực",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1ObrhIGTGgUZrMRs1DTT88JvvVNttnW7D2A04SOIjwwo",
          "mode": "list",
          "cachedResultName": "Bai_Viet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObrhIGTGgUZrMRs1DTT88JvvVNttnW7D2A04SOIjwwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObrhIGTGgUZrMRs1DTT88JvvVNttnW7D2A04SOIjwwo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        760
      ],
      "id": "810656df-e5d8-4c99-a81d-5ed5a3407058",
      "name": "Đọc file Sheets BaiViet",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -580,
        680
      ],
      "id": "88709966-6e7f-4142-800b-ee992f998aa5",
      "name": "Gộp bài viết mới với dữ liệu cũ"
    },
    {
      "parameters": {
        "jsCode": "\nconst oldArticles = items.filter(i => i.json.row_number);\nconst newArticles = items.filter(i => !i.json.row_number);\n\n\nconst oldList = oldArticles.map(a => ({\n  title: (a.json.TieuDe || \"\").trim().toLowerCase(),\n  content: (a.json.NoiDung || \"\").substring(0,100).trim().toLowerCase(),\n  link: (a.json.Link || \"\").trim().toLowerCase()\n}));\n\n\nconst uniqueArticles = newArticles.filter(a => {\n  const title = (a.json.TieuDe || \"\").trim().toLowerCase();\n  const content = (a.json.NoiDung || \"\").substring(0,100).trim().toLowerCase();\n  const link = (a.json.Link || \"\").trim().toLowerCase();\n\n  return !oldList.some(o =>\n    o.title === title ||\n    o.content === content ||\n    o.link === link\n  );\n});\n\nreturn uniqueArticles;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        680
      ],
      "id": "10aae88a-09cc-41b2-8bea-6c352a05dc56",
      "name": "Kiểm tra bai viết trùng",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObrhIGTGgUZrMRs1DTT88JvvVNttnW7D2A04SOIjwwo",
          "mode": "list",
          "cachedResultName": "Bai_Viet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObrhIGTGgUZrMRs1DTT88JvvVNttnW7D2A04SOIjwwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObrhIGTGgUZrMRs1DTT88JvvVNttnW7D2A04SOIjwwo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TieuDe": "={{ $json.TieuDe }}",
            "LinkBaiViet": "={{ $json.Link }}",
            "NoiDung": "={{ $json.NoiDung }}",
            "TuKhoa": "={{ $json.TuKhoa }}",
            "NgayPhatHien": "={{ $json.NgayPhatHien }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TieuDe",
              "displayName": "TieuDe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkBaiViet",
              "displayName": "LinkBaiViet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NoiDung",
              "displayName": "NoiDung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TuKhoa",
              "displayName": "TuKhoa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NgayPhatHien",
              "displayName": "NgayPhatHien",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1020,
        980
      ],
      "id": "1880f66a-1b7f-4d93-9971-dfee71b745d2",
      "name": "Ghi bài viết vào  Sheets",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Báo cáo phát hiện bài viết tiêu cực\n\nThời gian phát hiện: {{ $json.NgayPhatHien }}\nLink bài viết: {{ $json.LinkBaiViet }}\nTiêu đề: {{ $json.TieuDe }}\nNội dung phản ánh:{{ $json.NoiDung }}\n\nTóm tắt vấn đề tiêu cực:\n[Ví dụ: chất lượng dịch vụ kém, sai phạm trong quản lý, thái độ nhân viên, sự cố an toàn…]\n\nHướng xử lý đề xuất\n\nXác minh thông tin: Liên hệ tác giả (nếu có) hoặc bộ phận liên quan để thu thập dữ liệu.\n\nCông khai phản hồi: Thông báo chính thức, ghi nhận phản ánh và cam kết khắc phục.\n\nGiải quyết nội bộ: Rà soát quy trình, đào tạo lại nhân sự, xử lý sự cố.\n\nTheo dõi phản ứng cộng đồng: Đánh giá mức độ lan truyền, điều chỉnh chiến lược truyền thông.\n\nNgăn chặn khủng hoảng: Chuẩn bị kịch bản ứng phó nếu lan truyền mạnh hoặc báo chí đưa tin.\n\nMức độ ảnh hưởng\n\nThấp: < 100 tương tác, ý kiến cá nhân, không liên quan trực tiếp, chưa lên báo chí.\n\nTrung bình: 100 – < 1.000 tương tác, có bằng chứng nhưng chưa nghiêm trọng, chia sẻ trong cộng đồng mục tiêu.\n\nCao: ≥ 1.000 tương tác hoặc xuất hiện trên báo chí lớn, liên quan pháp lý/an toàn, có bằng chứng mạnh.\n\nLưu ý\n\nNếu không liên quan trực tiếp đến Trường ĐH Cửu Long, xếp mức ảnh hưởng Thấp (trừ khi gây hiểu lầm thương hiệu).\n\nLuôn giữ trung lập, cần kiểm chứng thông tin thay vì kết luận vội.\n\nKhông quy chụp, tránh dùng cụm từ mang tính buộc tội.\nNẾU KHÔNG CÓ BÀI VIẾT TRẢ VỀ OUPUT LÀ TRỐNG",
        "options": {
          "systemMessage": "=Bạn là một hệ thống giám sát và phân tích thông tin tiêu cực về một tổ chức/cá nhân. Nhiệm vụ của bạn là xử lý dữ liệu đầu vào, đánh giá mức độ ảnh hưởng, và đưa ra hướng xử lý chi tiết, dựa trên dữ liệu có sẵn.\n\nQuy tắc xử lý thông tin\n\nNếu bài viết tồn tại và có nội dung:\n\nTrích xuất các trường:\n\nTóm tắt: → mô tả ngắn gọn sự việc (1–2 câu). Nếu thông tin chưa đầy đủ → ghi \"Cần xác minh thêm về …\".\n\nHướng xử lý: → chi tiết từng bước xử lý thông tin tiêu cực.\n\nMức độ ảnh hưởng: → Thấp/Trung bình/Cao + lý do cụ thể.\n\nDự đoán nguồn bài viết: → nguồn xuất phát chính hoặc ghi \"Cần xác minh thêm\".\n\nHướng xử lý chi tiết khi phát hiện bài viết tiêu cực:\n\nXác minh thông tin với nguồn/bộ phận liên quan.\n\nLưu trữ dữ liệu gốc: link, ảnh, video.\n\nĐánh giá mức độ lan truyền: lượt chia sẻ, bình luận, độ phổ biến trên báo chí/mạng xã hội.\n\nChuẩn bị phản hồi nội bộ hoặc công khai nếu cần.\n\nTheo dõi sát tình hình trong 24–48 giờ.\n\nNẾU KHÔNG CÓ BÀI VIẾT TRẢ VỀ OUPUT LÀ TRỐNG\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -800,
        980
      ],
      "id": "a2aac4b0-ce1a-4eed-af19-6eefebb9653d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -780,
        1140
      ],
      "id": "b4536016-c1de-475b-a8df-792aa1735fd7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yUfnPS2l6t7sUftv",
          "name": "API Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ketQua = [];\n\nconst isEmpty = (val) => !val || val.trim() === '';\n\nconst extract = (text, label) => {\n  const regex = new RegExp(`${label}\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\n|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n};\n\nfor (const item of items) {\n  const data = item.json;\n\n  const allFields = [\n    data.tieuDe,\n    data.noiDung,\n    data.huongXuLy,\n    data.mucDoAnhHuong,\n    data.output\n  ];\n\n  // Nếu tất cả các trường rỗng thì bỏ qua\n  if (allFields.every(isEmpty)) continue;\n\n  let tieuDe = data.tieuDe?.trim() || '';\n  let noiDung = data.noiDung?.trim() || '';\n  let huongXuLy = data.huongXuLy?.trim() || '';\n  let mucDoAnhHuong = data.mucDoAnhHuong?.trim() || '';\n  let nguonBaiViet = data.nguonBaiViet?.trim() || 'Cần xác minh thêm';\n\n  // Nếu output có dữ liệu thì trích xuất\n  if (!isEmpty(data.output)) {\n    const out = data.output.trim();\n    tieuDe = extract(out, 'Tóm tắt:') || tieuDe;\n    noiDung = extract(out, 'Tóm tắt:') || noiDung;\n    huongXuLy = extract(out, 'Hướng xử lý:') || huongXuLy;\n    mucDoAnhHuong = extract(out, 'Mức độ ảnh hưởng:') || mucDoAnhHuong;\n    nguonBaiViet = extract(out, 'Dự đoán nguồn bài viết:') || nguonBaiViet;\n  }\n\n  // Nếu tất cả các trường quan trọng đều rỗng thì bỏ qua\n  if ([tieuDe, noiDung, huongXuLy, mucDoAnhHuong].every(isEmpty)) continue;\n\n  ketQua.push({\n    json: {\n      tieuDe: tieuDe.slice(0, 100),\n      noiDung,\n      huongXuLy,\n      mucDoAnhHuong\n    }\n  });\n}\n\n// Trả về kết quả, có thể là mảng rỗng\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        980
      ],
      "id": "a1d0bcb2-c40e-449c-a328-f2d824880f81",
      "name": "Xử lý kết quả AL",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uB3XuYlUsluevP6zMtUBd9pZnpY6sF-df4eBGQQkz7A",
          "mode": "list",
          "cachedResultName": "Thong_Tin_Phat_Hien",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3XuYlUsluevP6zMtUBd9pZnpY6sF-df4eBGQQkz7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3XuYlUsluevP6zMtUBd9pZnpY6sF-df4eBGQQkz7A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NoiDungTomTat": "={{ $json.noiDung }}",
            "HuongXuLy": "={{ $json.huongXuLy }}",
            "MucDoAnhHuong": "={{ $json.mucDoAnhHuong }}",
            "LinkBaiViet": "={{ $('Ghi bài viết vào  Sheets').item.json.LinkBaiViet }}",
            "NgayPhatHien": "={{ $('Ghi bài viết vào  Sheets').item.json.NgayPhatHien }}",
            "TieuDe": "={{ $json.tieuDe }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TieuDe",
              "displayName": "TieuDe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NoiDungTomTat",
              "displayName": "NoiDungTomTat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HuongXuLy",
              "displayName": "HuongXuLy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MucDoAnhHuong",
              "displayName": "MucDoAnhHuong",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkBaiViet",
              "displayName": "LinkBaiViet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NgayPhatHien",
              "displayName": "NgayPhatHien",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PhatHieID",
              "displayName": "PhatHieID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        880
      ],
      "id": "59c917ef-6b31-4504-b3ab-9f8d3f571872",
      "name": "Ghi kết quả xử lý vào sheets",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd0c5c39-1b95-4ae9-823e-9dfb8bdd3239",
              "leftValue": "={{ $json.tieuDe }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fef2c729-e2f1-48f2-a09c-6e14104bc3a9",
              "leftValue": "={{ $json.noiDung }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        980
      ],
      "id": "ebf8b964-615e-42cb-8537-2444a76c76ac",
      "name": "Kiểm tra bài viết rỗng"
    },
    {
      "parameters": {
        "fromEmail": "haulailaptrinh@gmail.com",
        "toEmail": "haulailaptrinh@gmail.com",
        "subject": "Báo cáo giám sát hàng ngày - ĐH Cửu Long",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333;\n      background-color: #f1f1f1;\n      padding: 20px;\n    }\n    .container {\n      background-color: #ffffff;\n      border-radius: 10px;\n      padding: 20px;\n      max-width: 700px;\n      margin: auto;\n      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);\n    }\n    h2 {\n      color: #b00020;\n      font-size: 20px;\n    }\n    .section {\n      margin-bottom: 16px;\n    }\n    .label {\n      font-weight: bold;\n      color: #555;\n    }\n    .value {\n      margin-top: 4px;\n      white-space: pre-line;\n    }\n    a {\n      color: #1a73e8;\n      text-decoration: none;\n    }\n    a:hover {\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>{{ $('Ghi bài viết vào  Sheets').item.json.TieuDe }}</h2>\n\n    <div class=\"section\">\n      <div class=\"label\"> Ngày phát hiện:{{ $('Ghi bài viết vào  Sheets').item.json.NgayPhatHien }}</div>\n      <div class=\"value\"></div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"label\">Tóm tắt nội dung:</div>\n      <div class=\"value\">{{ $('Ghi bài viết vào  Sheets').item.json.NoiDung }}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"label\">Hướng xử lý:</div>\n      <div class=\"value\">{{ $json.huongXuLy }}</div>\n    </div>\n\n    {{ $json.mucDoAnhHuong ? `\n    <div class=\"section\">\n      <div class=\"label\"> Mức độ ảnh hưởng:</div>\n      <div class=\"value\">${$json.mucDoAnhHuong}</div>\n    </div>` : '' }}\n\n\n   {{$('Ghi bài viết vào  Sheets').item.json.LinkBaiViet ? `\n    <div class=\"section\">\n      <div class=\"label\"> Link bài viết:</div>\n      <div class=\"value\"></div>\n    </div>` : '' }}\n{{ $('Ghi bài viết vào  Sheets').item.json.LinkBaiViet }}\n\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        1060
      ],
      "id": "8573bbd8-7a05-4c50-aba7-1c5ecda35711",
      "name": "Gửi Email cảnh báo hằng ngày",
      "webhookId": "0e4746a8-0953-4816-b515-ddde7f605e25",
      "credentials": {
        "smtp": {
          "id": "dZ2DwwWFlZQCBBwj",
          "name": "SMTP account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        100
      ],
      "name": "Tập lịch chạy mỗi tuần",
      "id": "d747c80f-4e2f-4ffe-8406-86ced57cab00"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1uB3XuYlUsluevP6zMtUBd9pZnpY6sF-df4eBGQQkz7A",
          "mode": "list",
          "cachedResultName": "Thong_Tin_Phat_Hien",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3XuYlUsluevP6zMtUBd9pZnpY6sF-df4eBGQQkz7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3XuYlUsluevP6zMtUBd9pZnpY6sF-df4eBGQQkz7A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -780,
        100
      ],
      "id": "b9a23ac3-da24-41a3-be5c-577126b47784",
      "name": "Đọc dữ liệu",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bảng quy đổi mức độ ưu tiên\nconst uuTien = { \"Cao\": 3, \"Trung\": 2, \"Thấp\": 1 };\n\n// Hàm chuẩn hóa mức độ ảnh hưởng\nfunction chuanHoaMucDo(text) {\n  if (!text) return \"Thấp\"; // Mặc định là Thấp nếu không có\n  const muc = text.trim().split(\" \")[0];\n  if (text.startsWith(\"Cần xác minh thêm\")) return \"Thấp\";\n  return muc;\n}\n\n// Xử lý dữ liệu đầu vào\nconst ketQua = $input.all()\n  .map(item => {\n    const mucDo = chuanHoaMucDo(item.json[\"MucDoAnhHuong\"]);\n    return {\n      ...item.json,\n      MucDoAnhHuong: mucDo\n    };\n  })\n  .sort((a, b) => {\n    const aMuc = uuTien[a.MucDoAnhHuong] || 0;\n    const bMuc = uuTien[b.MucDoAnhHuong] || 0;\n    // Sắp xếp theo mức độ trước, sau đó theo ngày (mới nhất trước)\n    if (bMuc !== aMuc) return bMuc - aMuc;\n    return new Date(b.NgayPhatHien) - new Date(a.NgayPhatHien);\n  })\n  .map((item, index) => ({\n    json: {\n      STT: index + 1,\n      Tiêu_đề: item.TieuDe || \"Không rõ\",\n      Nội_dung: item.NoiDungTomTat || \"Không rõ\",\n      Hướng_xử_lý: item.HuongXuLy || \"Không rõ\",\n      Mức_độ: item.MucDoAnhHuong || \"Không rõ\",\n      Liên_kết: item.LienKet || \"Không rõ\",\n      Ngày_phát_hiện: item.NgayPhatHien || \"Không rõ\"\n    }\n  }));\n\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        100
      ],
      "id": "8b2db289-1800-4ac3-886f-fa3fe2300d1c",
      "name": "Xử lý mức độ"
    },
    {
      "parameters": {
        "jsCode": "// Hàm chuẩn hóa mức độ\nfunction chuanHoaMucDo(text) {\n  if (!text) return null; // Không có dữ liệu thì bỏ qua\n  if (text.startsWith(\"Cần xác minh thêm\")) return null; // Loại bỏ\n  if (text.startsWith(\"Trung\")) return \"Trung bình\";\n  if (text.startsWith(\"Thấp\")) return \"Thấp\";\n  if (text.startsWith(\"Cao\")) return \"Cao\";\n  return null;\n}\n\n// Đếm số bài viết theo mức độ\nlet cao = 0, trung = 0, thap = 0;\n\nfor (const item of $input.all()) {\n  const muc = chuanHoaMucDo(item.json[\"Mức_độ\"]);\n  if (muc === \"Cao\") cao++;\n  else if (muc === \"Trung bình\") trung++;\n  else if (muc === \"Thấp\") thap++;\n}\n\nconst tong = cao + trung + thap;\n\n// Lấy ngày hiện tại theo giờ Việt Nam (UTC+7)\nconst now = new Date();\nnow.setUTCHours(now.getUTCHours() + 7);\n\n// Tính ngày đầu tuần (thứ 2) và cuối tuần (chủ nhật)\nconst dayOfWeek = now.getDay(); // Chủ nhật = 0\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - (dayOfWeek === 0 ? 6 : dayOfWeek - 1));\nconst sunday = new Date(monday);\nsunday.setDate(monday.getDate() + 6);\n\n// Định dạng ngày YYYY-MM-DD\nconst formatDate = (d) => d.toISOString().split(\"T\")[0];\n\n// Xuất dữ liệu thống kê\nreturn [{\n  json: {\n    \"ID\": 1,\n    \"Từ ngày\": formatDate(monday),\n    \"Đến ngày\": formatDate(sunday),\n    \"Cao\": cao,\n    \"Trung bình\": trung,\n    \"Thấp\": thap,\n    \"Tổng\": tong\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        100
      ],
      "id": "cadd9deb-d519-4525-b642-f2d42f419fe0",
      "name": "Tổng hợp theo tuần"
    },
    {
      "parameters": {
        "fromEmail": "haulailaptrinh@gmail.com",
        "toEmail": "haulailaptrinh@gmail.com",
        "subject": "Báo cáo giám sát hàng ngày - ĐH Cửu Long",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    table {\n      border-collapse: collapse;\n      width: 100%;\n      margin-top: 16px;\n    }\n    th, td {\n      border: 1px solid #ddd;\n      padding: 10px;\n      text-align: center;\n    }\n    th {\n      background-color: #f2f2f2;\n      font-weight: bold;\n    }\n    h2 {\n      color: #333;\n    }\n  </style>\n</head>\n<body>\n  <h2>Báo cáo nội dung tiêu cực theo tuần</h2>\n  <p>📅 Tuần từ <strong>{{ $json[\"Từ ngày\"] }}</strong> đến <strong>{{ $json[\"Đến ngày\"] }}</strong></p>\n\n  <table>\n    <tr>\n      <th>Mức độ</th>\n      <th>Số lượng</th>\n    </tr>\n    <tr>\n      <td style=\"color: red;\"><strong>Cao</strong></td>\n      <td>{{ $json[\"Cao\"] }}</td>\n    </tr>\n    <tr>\n      <td style=\"color: orange;\"><strong>Trung bình</strong></td>\n      <td>{{ $json[\"Trung bình\"] }}</td>\n    </tr>\n    <tr>\n      <td style=\"color: green;\"><strong>Thấp</strong></td>\n      <td>{{ $json[\"Thấp\"] }}</td>\n    </tr>\n    <tr>\n      <th>Tổng</th>\n      <th>{{ $json[\"Tổng\"] }}</th>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 20px;\">Trân trọng,<br>Hệ thống giám sát nội dung</p>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -20,
        200
      ],
      "id": "21606a55-86a7-4d88-8042-4bdf36380d0e",
      "name": "Gửi Email cảnh báo hằng tuần",
      "webhookId": "0e4746a8-0953-4816-b515-ddde7f605e25",
      "credentials": {
        "smtp": {
          "id": "dZ2DwwWFlZQCBBwj",
          "name": "SMTP account 4"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wFICpd2pBwjRnHlQiLgKjlBhr-N096HS4sDnvRKvokQ",
          "mode": "list",
          "cachedResultName": "Thong_Ke_Bao_cao_Tuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wFICpd2pBwjRnHlQiLgKjlBhr-N096HS4sDnvRKvokQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wFICpd2pBwjRnHlQiLgKjlBhr-N096HS4sDnvRKvokQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TuNgay": "={{ $json['Từ ngày'] }}",
            "DenNgay": "={{ $json['Đến ngày'] }}",
            "SoLuongCao": "={{ $json.Cao }}",
            "SoLuongTrungBinh": "={{ $json['Trung bình'] }}",
            "SoLuongThap": "={{ $json['Thấp'] }}",
            "TongSoLuong": "={{ $json['Tổng'] }}",
            "BaoCaoID": "={{ $json.ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TuNgay",
              "displayName": "TuNgay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DenNgay",
              "displayName": "DenNgay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SoLuongCao",
              "displayName": "SoLuongCao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SoLuongTrungBinh",
              "displayName": "SoLuongTrungBinh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SoLuongThap",
              "displayName": "SoLuongThap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TongSoLuong",
              "displayName": "TongSoLuong",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BaoCaoID",
              "displayName": "BaoCaoID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        0
      ],
      "id": "1eb302ac-8519-4d96-ad40-05dab11eb7ee",
      "name": "Ghi kết quả báo cáo tuần",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tập lịch chạy": {
      "main": [
        [
          {
            "node": "Tạo danh sách URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo danh sách URL": {
      "main": [
        [
          {
            "node": "Gửi request tìm bài viết",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi request tìm bài viết": {
      "main": [
        [
          {
            "node": "Tách danh sách bài viết",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách danh sách bài viết": {
      "main": [
        [
          {
            "node": "Lọc bài viết tiêu cực",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc bài viết tiêu cực": {
      "main": [
        [
          {
            "node": "Đọc file Sheets BaiViet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gộp bài viết mới với dữ liệu cũ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc file Sheets BaiViet": {
      "main": [
        [
          {
            "node": "Gộp bài viết mới với dữ liệu cũ",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gộp bài viết mới với dữ liệu cũ": {
      "main": [
        [
          {
            "node": "Kiểm tra bai viết trùng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra bai viết trùng": {
      "main": [
        [
          {
            "node": "Ghi bài viết vào  Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ghi bài viết vào  Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Xử lý kết quả AL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý kết quả AL": {
      "main": [
        [
          {
            "node": "Kiểm tra bài viết rỗng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra bài viết rỗng": {
      "main": [
        [
          {
            "node": "Ghi kết quả xử lý vào sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gửi Email cảnh báo hằng ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tập lịch chạy mỗi tuần": {
      "main": [
        [
          {
            "node": "Đọc dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc dữ liệu": {
      "main": [
        [
          {
            "node": "Xử lý mức độ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý mức độ": {
      "main": [
        [
          {
            "node": "Tổng hợp theo tuần",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tổng hợp theo tuần": {
      "main": [
        [
          {
            "node": "Gửi Email cảnh báo hằng tuần",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ghi kết quả báo cáo tuần",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c319c66d-5a55-4433-935b-4c1bda9e6db1",
  "meta": {
    "instanceId": "dc11cb4891443fae026bd649ce2af9b7a75f9d81700ccc3935ac1d32053faa0e"
  },
  "id": "xDnbfDSOuMYwapYf",
  "tags": []
}