GiamSat_NoiDung_TieuCuc_MKU.json
{
  "name": "DoAn_TTTN_MKU",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-820, 1180],
      "id": "7cca58ea-0f81-40bc-95e2-da5960146489",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jyELhF1oXnfd05jO",
          "name": "API Gemini 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 540],
      "id": "1bdf4942-811f-43d8-b8e9-0bbac89ced22",
      "name": "Gửi request tìm bài viết"
    },
    {
      "parameters": {
        "jsCode": "// ✅ Danh sách từ khóa liên quan đến Trường Đại học Cửu Long\nconst TRUONG_KEYWORDS = [\n  \"đại học cửu long\", \"đh cửu long\", \"mku\", \"trường cửu long\",\n  \"trường đại học cửu long\", \"cửu long university\", \"truong dai hoc cuu long\"\n];\n\n// ✅ Danh sách từ khóa mang tính TIÊU CỰC\nconst TIEU_CUC_KEYWORDS = [\n  \"lừa đảo\", \"gian lận\", \"phốt\", \"scam\", \"chiếm đoạt\", \"dối trá\",\n  \"bóc phốt\", \"mập mờ\", \"thiếu minh bạch\", \"giả mạo\", \"mất uy tín\",\n  \"hạ chuẩn\", \"tẩy chay\", \"bị tố\", \"bê bối\", \"đình chỉ\", \"chất lượng kém\",\n  \"phản ánh tiêu cực\", \"tranh cãi\", \"gian dối\", \"bất công\", \"hứa suông\",\n  \"làm tiền\", \"đa cấp\", \"có dấu hiệu sai phạm\"\n];\n\n// ✅ Lấy thời gian hiện tại (giờ Việt Nam, định dạng đầy đủ)\nconst ngayPhatHien = new Date().toLocaleString(\"vi-VN\", {\n  timeZone: \"Asia/Ho_Chi_Minh\",\n  hour12: false\n}).replace(\",\", \"\"); // Xóa dấu phẩy giữa ngày và giờ\n\n// ✅ Mảng kết quả cuối cùng sẽ được trả về\nconst ketQua = [];\n\n// ✅ Hàm kiểm tra xem chuỗi có chứa bất kỳ từ khóa nào không\nfunction containsAny(text, keywords) {\n  return keywords.some(k => text.includes(k));\n}\n\n// ✅ Duyệt qua tất cả các bài viết từ node trước\nfor (const item of items) {\n  // Lấy tiêu đề và mô tả, chuyển về chữ thường để so sánh\n  const title = (item.json.title || \"\").toLowerCase();\n  const snippet = (item.json.snippet || \"\").toLowerCase();\n  const fullText = title + \" \" + snippet;\n\n  // ✅ Kiểm tra bài viết có nhắc đến trường và có nội dung tiêu cực không\n  const coTruong = containsAny(fullText, TRUONG_KEYWORDS);\n  const coTieuCuc = containsAny(fullText, TIEU_CUC_KEYWORDS);\n\n  // ✅ Chỉ giữ lại bài viết nếu có cả trường và tiêu cực\n  if (coTruong && coTieuCuc) {\n    // Tìm các từ khóa tiêu cực cụ thể có mặt trong bài\n    const tuKhoaPhatHien = TIEU_CUC_KEYWORDS.filter(k => fullText.includes(k));\n\n    // ✅ Thêm vào kết quả\n    ketQua.push({\n      json: {\n        TieuDe: item.json.title,\n        Link: item.json.link,\n        NoiDung: item.json.snippet,\n        TuKhoa: tuKhoaPhatHien.join(\", \"),\n        NgayPhatHien: ngayPhatHien\n      }\n    });\n  }\n}\n\n// ✅ Trả về danh sách các bài viết hợp lệ\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-820, 760],
      "id": "41b16611-4c53-4069-98e8-40083d385d39",
      "name": "Lọc bài viết tiêu cực",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-260, 780],
      "name": "Gộp bài viết mới với dữ liệu cũ",
      "id": "6a0a4e9c-0136-4cf9-9089-520e67ce9bc4"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bVSPnFZ-0XW9VZ74TzBVHJxMn0sT61lYolF2XKzAyTU",
          "mode": "list",
          "cachedResultName": "BaiViet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVSPnFZ-0XW9VZ74TzBVHJxMn0sT61lYolF2XKzAyTU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVSPnFZ-0XW9VZ74TzBVHJxMn0sT61lYolF2XKzAyTU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TieuDe": "={{ $json.TieuDe }}",
            "NoiDung": "={{ $json.NoiDung }}",
            "TuKhoa": "={{ $json.TuKhoa }}",
            "NgayPhatHien": "={{ $json.NgayPhatHien }}",
            "LinkBaiViet": "={{ $json.Link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TieuDe",
              "displayName": "TieuDe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkBaiViet",
              "displayName": "LinkBaiViet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NoiDung",
              "displayName": "NoiDung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TuKhoa",
              "displayName": "TuKhoa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NgayPhatHien",
              "displayName": "NgayPhatHien",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [280, 760],
      "name": "Ghi bài viết vào Sheets",
      "id": "dca30b38-9b9e-441d-b7f5-3f4491de342e",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bài viết có tiêu đề \"{{ $json.TieuDe }}\" phản ánh nội dung: {{ $json.NoiDung }}. Nội dung chủ yếu đề cập đến [tóm tắt ngắn gọn vấn đề tiêu cực, ví dụ: chất lượng dịch vụ kém, sai phạm trong quản lý, thái độ nhân viên, sự cố an toàn...].\n\nHướng xử lý:\n\nXác minh thông tin: Liên hệ trực tiếp với tác giả bài viết (nếu có thể) hoặc bộ phận liên quan để thu thập dữ kiện chính xác.\n\nCông khai phản hồi: Đưa ra thông báo chính thức trên kênh truyền thông của tổ chức, ghi nhận phản ánh và cam kết giải quyết (nếu có sai sót).\n\nGiải quyết nội bộ: Rà soát quy trình, đào tạo lại nhân sự hoặc khắc phục sự cố (nếu vấn đề thuộc trách nhiệm của tổ chức).\n\nTheo dõi phản ứng cộng đồng: Đánh giá mức độ lan truyền và điều chỉnh chiến lược truyền thông phù hợp.\n\nChủ động ngăn chặn khủng hoảng mở rộng: Chuẩn bị kịch bản ứng phó nếu bài viết được chia sẻ rộng hoặc bị báo chí đưa tin.\n\nMức độ ảnh hưởng:\n\nThấp: Nếu bài viết có ít tương tác (dưới 100 lượt chia sẻ/like), nội dung chỉ là ý kiến cá nhân, không dẫn chứng cụ thể hoặc không liên quan trực tiếp đến thương hiệu (ví dụ: bài viết tiêu cực về một cá nhân không thuộc tổ chức).\n\nTrung bình: Nếu bài viết có bằng chứng hình ảnh/video, được chia sẻ trong cộng đồng mục tiêu (ví dụ: nhóm khách hàng, phụ huynh học sinh), hoặc gây tranh cãi với 100–1.000 lượt tương tác.\n\nCao: Nếu nội dung liên quan đến sai phạm pháp lý, an toàn tính mạng, tố cáo có hệ thống, hoặc lan truyền mạnh (trên 1.000 lượt chia sẻ, xuất hiện trên báo chí).\n\nDự đoán nguồn bài viết:\n\nMạng xã hội (Facebook/TikTok): Nếu bài viết có ngôn ngữ đời thường, dùng hashtag, đăng trong nhóm kín hoặc kèm video ngắn.\n\nDiễn đàn/Website: Nếu có cấu trúc bài bản, dẫn nguồn dữ liệu hoặc đăng trên trang có tên miền riêng.\n\nBáo chí: Nếu bài viết có văn phong chính thống, dẫn lời chuyên gia hoặc đại diện tổ chức.\n\nCần xác minh thêm: Nếu không rõ nguồn hoặc thiếu thông tin ngữ cảnh.\n\nLưu ý:\n\nNếu bài viết không liên quan đến Trường Cửu Long, mức độ ảnh hưởng có thể xếp Thấp (trừ khi nội dung gián tiếp gây hiểu lầm về thương hiệu).\n\nLuôn đặt tính trung lập lên hàng đầu: Tránh dùng từ ngữ đổ lỗi (ví dụ: \"bài viết cố tình bôi xấu\") thay bằng \"cần kiểm chứng thông tin\".",
        "options": {
          "systemMessage": "=Bạn đang đóng vai trò là chuyên gia truyền thông khủng hoảng cấp cao, chuyên xử lý các sự cố ảnh hưởng đến uy tín thương hiệu của tổ chức/doanh nghiệp/trường học.\n\n🔍 HƯỚNG DẪN PHÂN TÍCH\nKhi nhận thông tin về bài viết tiêu cực, bạn cần:\n\nTÓM TẮT VẤN ĐỀ\n\nNgắn gọn, trung lập, chỉ nêu sự kiện khách quan.\n\nGhi rõ nếu thiếu dữ liệu: \"Cần xác minh thêm về [chi tiết cụ thể]\".\n\nĐỀ XUẤT XỬ LÝ (5 gạch đầu dòng)\n\nTập trung vào hành động khả thi, nhanh chóng (kiểm chứng, phản hồi, khắc phục...).\n\nƯu tiên giải pháp bảo vệ hình ảnh thương hiệu và giảm thiểu lan truyền.\n\nĐÁNH GIÁ MỨC ĐỘ ẢNH HƯỞNG\n\nThấp: Nội dung cá nhân, ít bằng chứng, tương tác dưới 100.\n\nTrung bình: Có hình ảnh/video, lan truyền nhóm nhỏ (100–1.000 tương tác), hoặc liên quan đến dịch vụ/uy tín.\n\nCao: Tố cáo nghiêm trọng (pháp lý, an toàn), viral mạnh (trên 1.000 tương tác), hoặc báo chí đưa tin.\n\nDỰ ĐOÁN NGUỒN BÀI VIẾT\n\nPhân tích dựa trên: ngôn ngữ, định dạng (video/ảnh), hashtag, nền tảng được đề cập.\n\nNếu không rõ: \"Cần xác minh thêm\".\n\n📌 FORMAT TRẢ LỜI BẮT BUỘC\nTóm tắt:\n[1–2 câu mô tả sự việc, không bình luận chủ quan]\n\nHướng xử lý:\n\n[Hành động 1] (Ví dụ: Thẩm định tính xác thực thông tin với bộ phận liên quan)\n\n[Hành động 2] (Chuẩn bị bản tuyên bố chính thức nếu cần)\n\n[Hành động 3] (Liên hệ người đăng bài để làm rõ (nếu khả thi))\n\n[Hành động 4] (Giám sát phản ứng MXH để kịp thời điều chỉnh)\n\n[Hành động 5] (Rà soát nội bộ để ngăn ngừa sự cố tái diễn)\n\nMức độ ảnh hưởng:\n[Thấp/Trung bình/Cao] + [Lý do ngắn gọn, ví dụ: \"Bài viết có 50 lượt chia sẻ, chưa có bằng chứng cụ thể\"]\n\nDự đoán nguồn bài viết:\n[Facebook/TikTok/Báo chí...] hoặc \"Cần xác minh thêm\"\n\n🚨 LƯU Ý QUAN TRỌNG\nKhông đổ lỗi: Tránh dùng từ như \"xúc phạm\", \"bịa đặt\" → Thay bằng \"cần kiểm chứng\".\n\nTrung lập: Nếu bài viết không liên quan trực tiếp đến thương hiệu, ghi rõ: \"Nội dung không nhắm vào tổ chức, mức độ ảnh hưởng Thấp\".\n\nƯu tiên tốc độ: Đề xuất xử lý phải có thể triển khai trong 24h.\n\n✅ Ví dụ minh họa (khi nhận prompt về bài viết tố cáo trường học):\nTóm tắt: Bài viết tố cáo trường X thiếu minh bạch trong thu chi phí phụ huynh, kèm ảnh chụp hóa đơn.\nHướng xử lý:\n\nRà soát lại toàn bộ hồ sơ thu chi theo thời gian được đề cập.\n\nLàm việc với Ban đại diện phụ huynh để xác minh thông tin.\n\nCông khai báo cáo tài chính (nếu đủ căn cứ) để minh bạch.\n\nGửi thông báo chính thức đến phụ huynh qua email/zalo.\n\nĐào tạo lại bộ phận kế toán về quy trình lưu trữ hóa đơn.\nMức độ ảnh hưởng: Trung bình (ảnh hưởng đến niềm tin phụ huynh, bài đăng có 300+ lượt chia sẻ).\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [-800, 980],
      "id": "2d38d1c4-1494-4ec5-a48c-12fb53d60211",
      "name": "Gửi bài cho AI phân tích tiêu cực"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst format = (n) => String(n).padStart(2, '0');\n\nconst formattedNow = `${now.getFullYear()}-${format(now.getMonth() + 1)}-${format(now.getDate())} ${format(now.getHours())}:${format(now.getMinutes())}:${format(now.getSeconds())}`;\n\n\n\n\nconst ketQua = [];\n\n// 👉 Hàm kiểm tra chuỗi trống\nconst isEmpty = (val) => !val || val.trim() === '';\n\n// 👉 Hàm trích nội dung từ output theo tiêu đề phần\nconst extract = (text, label) => {\n  const regex = new RegExp(`${label}\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\n|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n};\n\nfor (const item of items) {\n  const data = item.json;\n\n  // 👉 Bỏ qua nếu tất cả các trường đều trống\n  const allFields = [data.tieuDe, data.noiDung, data.huongXuLy, data.mucDoAnhHuong, data.output];\n  if (allFields.every(isEmpty)) continue;\n\n  // 👉 Lấy dữ liệu gốc\n  let tieuDe = data.tieuDe?.trim() || '';\n  let noiDung = data.noiDung?.trim() || '';\n  let huongXuLy = data.huongXuLy?.trim() || '';\n  let mucDoAnhHuong = data.mucDoAnhHuong?.trim() || '';\n  let nguonBaiViet = data.nguonBaiViet?.trim() || 'Cần xác minh thêm';\n\n  // 👉 Ghi đè nếu có output\n  if (!isEmpty(data.output)) {\n    const out = data.output.trim();\n    tieuDe = extract(out, 'Tóm tắt:') || tieuDe;\n    noiDung = extract(out, 'Tóm tắt:') || noiDung;\n    huongXuLy = extract(out, 'Hướng xử lý:') || huongXuLy;\n    mucDoAnhHuong = extract(out, 'Mức độ ảnh hưởng:') || mucDoAnhHuong;\n    nguonBaiViet = extract(out, 'Dự đoán nguồn bài viết:') || nguonBaiViet;\n  }\n\n  // 👉 Nếu vẫn rỗng thì bỏ qua\n  if ([tieuDe, noiDung, huongXuLy, mucDoAnhHuong].every(isEmpty)) continue;\n\n  // 👉 Đưa vào kết quả\n  ketQua.push({\n    json: {\n      tieuDe: tieuDe.slice(0, 100),\n      noiDung,\n      huongXuLy,\n      mucDoAnhHuong,\n      nguonBaiViet,\n      ngayPhatHien: formattedNow\n    }\n  });\n}\n\n// 👉 Trả về danh sách các bài hợp lệ (hoặc [] nếu không có gì)\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-280, 1040],
      "id": "6295f581-5777-45c8-87e1-b86386d29003",
      "name": "Xử lý kết quả từ AI",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1C8ttq-03f0qsvvZCY5TdXdkB5p2Y5a7PdGq1gGssBVU",
          "mode": "list",
          "cachedResultName": "ThongTinPhatHien",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C8ttq-03f0qsvvZCY5TdXdkB5p2Y5a7PdGq1gGssBVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C8ttq-03f0qsvvZCY5TdXdkB5p2Y5a7PdGq1gGssBVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TieuDe": "={{ $json.tieuDe }}",
            "NoiDungTomTat": "={{ $json.noiDung }}",
            "HuongXuLy": "={{ $json.huongXuLy }}",
            "MucDoAnhHuong": "={{ $json.mucDoAnhHuong }}",
            "NgayPhatHien": "={{ $json.ngayPhatHien }}",
            "LinkBaiViet": "={{ $('Ghi bài viết vào Sheets').item.json.LinkBaiViet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TieuDe",
              "displayName": "TieuDe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NoiDungTomTat",
              "displayName": "NoiDungTomTat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HuongXuLy",
              "displayName": "HuongXuLy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MucDoAnhHuong",
              "displayName": "MucDoAnhHuong",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkBaiViet",
              "displayName": "LinkBaiViet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NgayPhatHien",
              "displayName": "NgayPhatHien",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PhatHieID",
              "displayName": "PhatHieID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [340, 980],
      "id": "f1c947fe-c98e-4d8c-a7f1-4af7fc368def",
      "name": "Ghi kết quả xử lý vào Sheets",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "haulailaptrinh@gmail.com",
        "toEmail": "haulailaptrinh@gmail.com",
        "subject": "Báo cáo giám sát hàng ngày - ĐH Cửu Long",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333;\n      background-color: #f1f1f1;\n      padding: 20px;\n    }\n    .container {\n      background-color: #ffffff;\n      border-radius: 10px;\n      padding: 20px;\n      max-width: 700px;\n      margin: auto;\n      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);\n    }\n    h2 {\n      color: #b00020;\n      font-size: 20px;\n    }\n    .section {\n      margin-bottom: 16px;\n    }\n    .label {\n      font-weight: bold;\n      color: #555;\n    }\n    .value {\n      margin-top: 4px;\n      white-space: pre-line;\n    }\n    a {\n      color: #1a73e8;\n      text-decoration: none;\n    }\n    a:hover {\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>📢 {{ $json.tieuDe}}</h2>\n\n    <div class=\"section\">\n      <div class=\"label\">📅 Ngày phát hiện:</div>\n      <div class=\"value\">{{ $json.ngayPhatHien}}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"label\">📌 Tóm tắt nội dung:</div>\n      <div class=\"value\">{{ $json.noiDung }}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"label\">🛠 Hướng xử lý:</div>\n      <div class=\"value\">{{ $json.huongXuLy }}</div>\n    </div>\n\n    {{ $json.mucDoAnhHuong ? `\n    <div class=\"section\">\n      <div class=\"label\">⚠️ Mức độ ảnh hưởng:</div>\n      <div class=\"value\">${$json.mucDoAnhHuong}</div>\n    </div>` : '' }}\n\n    <div class=\"section\">\n      <div class=\"label\">🌐 Nguồn gốc bài viết:</div>\n      <div class=\"value\">{{ $('Ghi bài viết vào Sheets').item.json.LinkBaiViet }}</div>\n    </div>\n\n    {{ $json.lienKet ? `\n    <div class=\"section\">\n      <div class=\"label\">🔗 Đường dẫn:</div>\n      <div class=\"value\"><a href=\"${$json.lienKet}\" target=\"_blank\">${$json.lienKet}</a></div>\n    </div>` : '' }}\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [340, 1140],
      "id": "c532d9b0-60f3-4c0f-85f7-238ba50f6738",
      "name": "Gửi Email cảnh báo hằng ngày",
      "webhookId": "0e4746a8-0953-4816-b515-ddde7f605e25",
      "credentials": {
        "smtp": {
          "id": "u9TNW1SRBYGnm2Wa",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd0c5c39-1b95-4ae9-823e-9dfb8bdd3239",
              "leftValue": "={{ $json.tieuDe }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fef2c729-e2f1-48f2-a09c-6e14104bc3a9",
              "leftValue": "={{ $json.noiDung }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [20, 980],
      "id": "11380458-2ba1-420a-a10c-8179c49e89cc",
      "name": "Kiểm tra bài viết rỗng"
    },
    {
      "parameters": {
        "jsCode": "// --- Bước 1: Tách dữ liệu cũ và mới ---\nconst sheetRows = [];\nconst newRows = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (data.row_number !== undefined) {\n    sheetRows.push(data); // Dữ liệu đã có trên Google Sheet\n  } else {\n    newRows.push(data); // Dữ liệu mới\n  }\n}\n\n// --- Bước 2: Tạo danh sách link đã có ---\nconst existingLinks = new Set();\nfor (const row of sheetRows) {\n  if (typeof row.Link === 'string') {\n    existingLinks.add(row.Link.toLowerCase().trim());\n  }\n}\n\n// --- Bước 3: Lọc bài mới chưa có link ---\nconst ketQua = [];\nfor (const row of newRows) {\n  const link = row.Link?.toLowerCase().trim();\n  if (link && !existingLinks.has(link)) {\n    ketQua.push({ json: row });\n  }\n}\n\n// --- Bước 4: Trả kết quả cho n8n ---\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 760],
      "name": "Kiểm tra bài viết trùng",
      "id": "120e6d66-7e0b-4eb2-aebe-7492c6f6ab0c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-820, 540],
      "name": "Tập lịch chạy",
      "id": "f7cbc339-b82c-4b1d-945a-4d18632f48db"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-820, 220],
      "name": "Tập lịch chạy mỗi tuần",
      "id": "08b7dd45-22a1-47ae-83d6-d468166ce373"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1C8ttq-03f0qsvvZCY5TdXdkB5p2Y5a7PdGq1gGssBVU",
          "mode": "list",
          "cachedResultName": "Xu_Ly_Bai_Viet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C8ttq-03f0qsvvZCY5TdXdkB5p2Y5a7PdGq1gGssBVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C8ttq-03f0qsvvZCY5TdXdkB5p2Y5a7PdGq1gGssBVU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-560, 180],
      "id": "256c5658-5601-4686-bffd-a89e33973a3a",
      "name": "Đọc dữ liệu",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sắp xếp bài viết theo mức độ ưu tiên: Cao > Trung > Thấp\nconst uuTien = { \"Cao\": 3, \"Trung\": 2, \"Thấp\": 1 };\n\n// Hàm chuẩn hóa mức độ ảnh hưởng\nfunction chuanHoaMucDo(text) {\n  const muc = text?.split(\" \")[0] || \"\";\n  if (text?.startsWith(\"Cần xác minh thêm\")) return \"Thấp\";\n  return muc;\n}\n\n// Lấy toàn bộ dữ liệu đầu vào và xử lý\nconst ketQua = $input.all()\n  .sort((a, b) => {\n    const aMuc = chuanHoaMucDo(a.json[\"Mức độ ảnh hưởng\"]);\n    const bMuc = chuanHoaMucDo(b.json[\"Mức độ ảnh hưởng\"]);\n    return (uuTien[bMuc] || 0) - (uuTien[aMuc] || 0);\n  })\n  .map((item, index) => ({\n    json: {\n      STT: index + 1,\n      Tiêu_đề: item.json[\"TieuDe\"] || \"Không rõ\",\n      Nội_dung: item.json[\"NoiDungTomTat\"] || \"Không rõ\",\n      Hướng_xử_lý: item.json[\"HuongXuLy\"] || \"Không rõ\",\n      Mức_độ: item.json[\"MucDoAnhHuong\"] || \"Không rõ\",\n      Liên_kết: item.json[\"LienKet\"] || \"Không rõ\",\n      Ngày_phát_hiện: item.json[\"NgayPhatHien\"] || \"Không rõ\"\n    }\n  }));\n\nreturn ketQua;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-340, 200],
      "id": "95685b31-0103-408f-b808-f4412f4e621b",
      "name": "Xử lý mức độ"
    },
    {
      "parameters": {
        "jsCode": "// Đếm số bài viết theo mức độ\nlet cao = 0, trung = 0, thap = 0;\n\nfor (const item of $input.all()) {\n  const muc = item.json[\"Mức_độ\"]?.split(\" \")[0]; // Lấy chữ đầu\n  if (muc === \"Cao\") cao++;\n  else if (muc === \"Trung\") trung++;\n  else if (muc === \"Thấp\") thap++;\n}\n\nconst tong = cao + trung + thap;\n\n// Lấy ngày hiện tại theo giờ Việt Nam (UTC+7)\nconst now = new Date();\nnow.setUTCHours(now.getUTCHours() + 7);\n\n// Tính ngày đầu tuần (thứ 2) và cuối tuần (chủ nhật)\nconst dayOfWeek = now.getDay(); // Chủ nhật = 0\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - (dayOfWeek === 0 ? 6 : dayOfWeek - 1));\nconst sunday = new Date(monday);\nsunday.setDate(monday.getDate() + 6);\n\n// Định dạng ngày YYYY-MM-DD\nconst formatDate = (d) => d.toISOString().split(\"T\")[0];\n\n// Trả ra một dòng duy nhất kèm ID (giả sử ID bắt đầu từ 1)\nreturn [{\n  json: {\n    \"ID\": 1,\n    \"Từ ngày\": formatDate(monday),\n    \"Đến ngày\": formatDate(sunday),\n    \"Cao\": cao,\n    \"Trung bình\": trung,\n    \"Thấp\": thap,\n    \"Tổng\": tong\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 200],
      "id": "d49afac7-88e0-46bc-b63b-010770f597bb",
      "name": "Tổng hợp theo tuần"
    },
    {
      "parameters": {
        "fromEmail": "haulailaptrinh@gmail.com",
        "toEmail": "haulailaptrinh@gmail.com",
        "subject": "Báo cáo giám sát hàng ngày - ĐH Cửu Long",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    table {\n      border-collapse: collapse;\n      width: 100%;\n      margin-top: 16px;\n    }\n    th, td {\n      border: 1px solid #ddd;\n      padding: 10px;\n      text-align: center;\n    }\n    th {\n      background-color: #f2f2f2;\n      font-weight: bold;\n    }\n    h2 {\n      color: #333;\n    }\n  </style>\n</head>\n<body>\n  <h2>Báo cáo nội dung tiêu cực theo tuần</h2>\n  <p>📅 Tuần từ <strong>{{ $json[\"Từ ngày\"] }}</strong> đến <strong>{{ $json[\"Đến ngày\"] }}</strong></p>\n\n  <table>\n    <tr>\n      <th>Mức độ</th>\n      <th>Số lượng</th>\n    </tr>\n    <tr>\n      <td style=\"color: red;\"><strong>Cao</strong></td>\n      <td>{{ $json[\"Cao\"] }}</td>\n    </tr>\n    <tr>\n      <td style=\"color: orange;\"><strong>Trung bình</strong></td>\n      <td>{{ $json[\"Trung bình\"] }}</td>\n    </tr>\n    <tr>\n      <td style=\"color: green;\"><strong>Thấp</strong></td>\n      <td>{{ $json[\"Thấp\"] }}</td>\n    </tr>\n    <tr>\n      <th>Tổng</th>\n      <th>{{ $json[\"Tổng\"] }}</th>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 20px;\">Trân trọng,<br>Hệ thống giám sát nội dung</p>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [220, 340],
      "id": "ba53cb7e-4f4e-4590-af1a-3481178e9a50",
      "name": "Gửi Email cảnh báo hằng tuần",
      "webhookId": "0e4746a8-0953-4816-b515-ddde7f605e25",
      "credentials": {
        "smtp": {
          "id": "u9TNW1SRBYGnm2Wa",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      url: 'https://www.googleapis.com/customsearch/v1' +\n        '?key=AIzaSyA339ZLse5pPWgGMX0tDlJXsmu2TX1bt0w' +\n        '&cx=37a5edc77da3c4fc9' +\n        '&num=5' + // 🔻 chỉ lấy 5 kết quả\n        '&q=(' +\n          '\"Đại học Cửu Long\" OR \"ĐH Cửu Long\" OR \"Trường Cửu Long\" OR \"Cửu Long University\"' +\n        ') ' +\n        '(' +\n          '\"lừa đảo\" OR \"phốt\" OR \"scam\" OR \"chiếm đoạt\" OR \"bê bối\" OR \"thiếu minh bạch\"' +\n        ') ' +\n        '(' +\n          '\"tuyển sinh\" OR \"giảng viên\" OR \"giáo dục\" OR \"đào tạo\" OR \"sinh viên\" OR \"bằng cấp\"' +\n        ') ' +\n        // Loại bỏ các kết quả không liên quan đến giáo dục\n        '-\"cá cược\" -\"nhà cái\" -\"soi kèo\" -\"bóng đá\" -\"casino\" -\"xổ số\" -\"lô đề\" -\"đánh bạc\" -\"tiền ảo\" ' +\n        // Giới hạn nguồn báo uy tín\n        'site:vnexpress.net OR site:tuoitre.vn OR site:thanhnien.vn OR site:zingnews.vn OR site:laodong.vn OR site:dantri.com.vn OR site:vietnamnet.vn' +\n        '&sort=date' + // sắp xếp theo ngày\n        '&lr=lang_vi' + // ưu tiên tiếng Việt\n        '&gl=vn'\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 500],
      "id": "61ae9225-2c6d-460c-895d-4bce85c90c00",
      "name": "Tạo danh sách URL"
    },
    {
      "parameters": {
        "jsCode": "// 👉 Tạo một mảng trống để lưu toàn bộ kết quả từ nhiều nguồn khác nhau\nconst allItems = [];\n\nfor (const input of items) {\n  // 👉 Lấy danh sách kết quả tìm kiếm từ Custom Search API (nếu có)\n  const results = input.json.items || [];\n  \n\n  // 👉 Duyệt qua từng kết quả trong `items`\n  for (const item of results) {\n    // 👉 Đẩy mỗi kết quả vào mảng `allItems` dưới dạng một object chuẩn\n    allItems.push({\n      json: {\n        title: item.title || '',       \n        link: item.link || '',         \n        snippet: item.snippet || '',               \n      }\n    });\n  }\n}\n\n// 👉 Trả về toàn bộ kết quả đã hợp nhất từ nhiều nguồn\nreturn allItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 540],
      "id": "2fc892cd-bec8-4f1f-a941-0d3c10a6921e",
      "name": "Tách danh sách bài viết",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DFXnI8dJJH4X1Hy9aOlVsq5KAMI62Qfow0XmG5FWtxk",
          "mode": "list",
          "cachedResultName": "ThongKeBaoCaoTuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DFXnI8dJJH4X1Hy9aOlVsq5KAMI62Qfow0XmG5FWtxk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DFXnI8dJJH4X1Hy9aOlVsq5KAMI62Qfow0XmG5FWtxk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BaoCaoID": "={{ $json.ID }}",
            "TuNgay": "={{ $json['Từ ngày'] }}",
            "DenNgay": "={{ $json['Đến ngày'] }}",
            "SoLuongCao": "={{ $json.Cao }}",
            "SoLuongTrungBinh": "={{ $json['Trung bình'] }}",
            "SoLuongThap": "={{ $json['Thấp'] }}",
            "TongSoLuong": "={{ $json['Tổng'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TuNgay",
              "displayName": "TuNgay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DenNgay",
              "displayName": "DenNgay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SoLuongCao",
              "displayName": "SoLuongCao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SoLuongTrungBinh",
              "displayName": "SoLuongTrungBinh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SoLuongThap",
              "displayName": "SoLuongThap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TongSoLuong",
              "displayName": "TongSoLuong",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BaoCaoID",
              "displayName": "BaoCaoID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [200, 140],
      "id": "02302db7-8c05-4fe0-aec6-5327e653ae2e",
      "name": "Ghi kết quả báo cáo tuần",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1bVSPnFZ-0XW9VZ74TzBVHJxMn0sT61lYolF2XKzAyTU",
          "mode": "list",
          "cachedResultName": "BaiViet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVSPnFZ-0XW9VZ74TzBVHJxMn0sT61lYolF2XKzAyTU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVSPnFZ-0XW9VZ74TzBVHJxMn0sT61lYolF2XKzAyTU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-520, 800],
      "name": "Đọc file sheets BaiViet",
      "id": "282d8a48-ee0c-48a9-8948-df7fbb4de044",
      "credentials": {
        "googleApi": {
          "id": "bDfKP49GQmA772n5",
          "name": "API Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gửi bài cho AI phân tích tiêu cực",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gửi request tìm bài viết": {
      "main": [
        [
          {
            "node": "Tách danh sách bài viết",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc bài viết tiêu cực": {
      "main": [
        [
          {
            "node": "Gộp bài viết mới với dữ liệu cũ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Đọc file sheets BaiViet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp bài viết mới với dữ liệu cũ": {
      "main": [
        [
          {
            "node": "Kiểm tra bài viết trùng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ghi bài viết vào Sheets": {
      "main": [
        [
          {
            "node": "Gửi bài cho AI phân tích tiêu cực",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi bài cho AI phân tích tiêu cực": {
      "main": [
        [
          {
            "node": "Xử lý kết quả từ AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý kết quả từ AI": {
      "main": [
        [
          {
            "node": "Kiểm tra bài viết rỗng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra bài viết rỗng": {
      "main": [
        [
          {
            "node": "Ghi kết quả xử lý vào Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gửi Email cảnh báo hằng ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra bài viết trùng": {
      "main": [
        [
          {
            "node": "Ghi bài viết vào Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tập lịch chạy": {
      "main": [
        [
          {
            "node": "Tạo danh sách URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tập lịch chạy mỗi tuần": {
      "main": [
        [
          {
            "node": "Đọc dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc dữ liệu": {
      "main": [
        [
          {
            "node": "Xử lý mức độ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý mức độ": {
      "main": [
        [
          {
            "node": "Tổng hợp theo tuần",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tổng hợp theo tuần": {
      "main": [
        [
          {
            "node": "Gửi Email cảnh báo hằng tuần",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ghi kết quả báo cáo tuần",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo danh sách URL": {
      "main": [
        [
          {
            "node": "Gửi request tìm bài viết",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách danh sách bài viết": {
      "main": [
        [
          {
            "node": "Lọc bài viết tiêu cực",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc file sheets BaiViet": {
      "main": [
        [
          {
            "node": "Gộp bài viết mới với dữ liệu cũ",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5c3e436-bc59-426b-ace4-fdbb93568a8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc11cb4891443fae026bd649ce2af9b7a75f9d81700ccc3935ac1d32053faa0e"
  },
  "id": "ADrnZcD3GkAquBvz",
  "tags": []
}
